<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.UserMapper">

	<select id="login" resultType="org.ict.domain.UserVO">
	
		SELECT uid, upw, uname FROM ictuser
			WHERE uid= #{uid} and upw = #{upw}
	
	</select>
	
	<insert id="join">
		insert into ictuser
		(uid, upw, uname)
		values ({uid},{upw},{uname})
	</insert>

</mapper>